<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baemin.woowahan_presentation_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.WPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme">
        <activity
            android:name=".main.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.PresentationsActivity"
            android:label="@string/title_activity_presentations"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".user.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".presentation.PresentationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_presentation" />
        <activity
            android:name=".presentation.PresentationOnlyVideoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_presentation_only_video" />
        <activity
            android:name=".presentation.PresentationOnlyPdfActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_presentation_only_pdf" />
        <activity
            android:name=".search.SearchActivity"
            android:label="@string/title_activity_search"></activity>
    </application>

</manifest>
